LogicApp_Template/Artifacts/Schemas/SourceCustomer2.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema xmlns="http://EDITest.SourceBuyer" targetNamespace="http://EDITest.SourceBuyer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Buyer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="100" name="BuyerProfile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="BirthDate" type="xs:string" />
              <xs:element name="Salutation" type="xs:string" />
              <xs:element name="Location">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="streetAddress" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
